@font-face {
  font-family: boogaloo;
  src: url(fonts/boogaloo.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    color: #191970;
    /* color: #432000; */
    user-select: none;
    font-family: boogaloo;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 250px;
    margin: 0 auto;
}

.top-img {
    padding-bottom: 2em;
}

input {
    /* color: #5C2A00; */
    color: #191970;
    background-color: #ffe4b2;
    
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 19px;
    text-align: center;
    font-family: boogaloo;
    margin: 10px 0;
}

button {
    color: #FDFDFD;
    /* background-image: linear-gradient(to right, #C71835, #FF3F5E); */
    background: linear-gradient(90deg, rgba(252,186,62,1) 26%, rgba(255,165,0,1) 65%);
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 19px;
    text-align: center;
    font-family: boogaloo;
}

button:hover {
    background-color: #FFD700;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 19px;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    /* color: #710C1D; */
    color: #191970;
}

ul li:hover {
    background-color: #FFD343;
    cursor: pointer;
}

/*

Normal State: #FFA500 (Bright Orange) - This is the default color of the button.

Hover State: #FFD700 (Gold) - When the user hovers over the button, changing it to a slightly lighter shade like gold can add a subtle interactive effect.

Focus State: #FF8C00 (Dark Orange) - This color provides a darker shade of orange to indicate that the button has keyboard focus.

Active State: #FF6347 (Tomato) - When the button is clicked or activated, a color like tomato red can provide visual feedback.

*/

.quote-container {
    display: flex;
    width: 100%;
    max-width: 500px;
    align-items: center;
    margin: 1em auto;
}

.quote-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.quote-author-name {
    font-size: 20px;
    font-weight: bold;
    color: #191970;
    display: block;
    margin-top: 10px;
}